# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
.env

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Artifacts (generated during training)
Membangun_model/artifacts/
*.png
!Monitoring dan Logging/**/*.png
!Monitoring dan Logging/**/*.jpg
!Membangun_model/*.jpg

# Ignore Prometheus Binaries
prometheus.zip
Monitoring dan Logging/prometheus/

# Helper scripts (not part of the project)
grafana_setup.py
grafana_alert_setup.py

# MLflow database
mlflow.db
